@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&subset=cyrillic');

body,
input
{
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #e6e6e6;
    color: #212121;
    font-size: 14px;
}

html,
body
{
    margin: 0;
    padding: 0;
}

input,
select,
img
{
    outline: none;
}

input[type='submit'],
label[for]
{
    cursor: pointer;
}
select,
.textfield
{
    border: none;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px 0;
}

select:focus,
.textfield:focus
{
    border-bottom: 2px solid #f50057;
}

select
{
    margin-bottom: 16px;
    padding-top: 5px;
    width: 100%;
}

select:focus
{
    margin-bottom: 15px;
}

option
{
    padding-left: 0;
}

img
{
    max-width: 100%;
}

a,
a:link,
a:visited
{
    color: #f50057;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

.top-navigation li a,
.main-news li a,
.logo span,
.flat-button
{
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.social-button,
.textfield-submit,
.material-button
{
    -webkit-transition: background-color .2s, border-color .2s;
    -moz-transition: background-color .2s, border-color .2s;
    -o-transition: background-color .2s, border-color .2s;
    transition: background-color .2s, border-color .2s;
}

.textfield
{
    -webkit-transition: border-color .2s;
    -moz-transition: border-color .2s;
    -o-transition: border-color .2s;
    transition: border-color .2s;
}

.top-navigation,
.main-news
{
    background-color: #212121;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-navigation li
{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 1;
    padding: 12px 16px;
}

.top-navigation li a
{
    color: #bdbdbd;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.top-navigation li a:hover,
.main-news li a:hover
{
    color: #fff;
}

.main-news
{
    background-color: #3f51b5;
}

.main-news li
{
    padding: 8px 16px;
}

.main-news li:nth-child(even)
{
    background-color: #303f9f;
}

.main-news li a
{
    color: #c5cae9;
    font-weight: 700;
    text-decoration: none;
}

header
{
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 16px;
}

.weather-now,
.weather-tomorrow,
.traffic-jam,
.social-buttons,
.exchange-rates,
.search-email
{
    box-sizing: border-box;
}

.today,
.weather-now,
.traffic-jam,
.social-buttons,
.exchange-rates,
.search-email
{
    border-left: 1px solid #d6d6d6;
}

a.logo
{
    color: #212121;
    font-size: 4em;
    line-height: 1em;
    padding-right: 16px;
    text-decoration: none;
}

.logo span,
.logo-descr
{
    color: #303f9f;
}

.logo span
{
    font-weight: 300;
}

.logo:hover span
{
    color: #f50057;
}

.logo-descr
{
    font-size: 1em;
    margin: 0;
}

.today
{
    background: url('img/ic_calendar.svg') no-repeat 16px 0;
    display: block;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 4px 16px 0 48px;
}

.today span
{
    color: #212121;
    font-weight: bold;
}

.today-event
{
    color: #727272;
    display: block;
    margin: 8px 0 0;
}

.weather-now,
.weather-tomorrow,
.traffic-jam
{
    -webkit-flex-basis: 90px;
    flex-basis: 90px;
    min-width: 90px;
    text-align: center;
}

.weather-now
{
    padding: 4px 8px 4px 16px;
}

.weather-tomorrow
{
    padding: 4px 16px 4px 8px;
}

.weather-now a,
.weather-tomorrow a,
.traffic-jam a,
.exchange-rates a
{
    color: #727272;
}

.weather-now a:hover,
.weather-tomorrow a:hover,
.traffic-jam a:hover,
.exchange-rates a:hover
{
    text-decoration: none;
}

.weather-temperature
{
    color: #212121;
    display: inline-block;
    font-weight: bold;
}

.weather-icon,
.traffic-jam-value
{
    display: inline-block;
    height: 24px;
    margin-top: 4px;
    width: 24px;
}

.weather-icon
{
    background-repeat: no-repeat;
}

.weather-snowy
{
    background-image: url('img/ic_weather_snowy.svg');
}

.weather-partlycloudy
{
    background-image: url('img/ic_weather_partlycloudy.svg');
}

.traffic-jam
{
    color: #212121;
    padding: 4px 16px;
}

.traffic-jam-value
{
    background-color: #FFEB3B;
    border-radius: 50%;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
}

.social-buttons
{
    display: flex;
    -webkit-flex-basis: 224px;
    flex-basis: 224px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 224px;
    text-align: center;
}

.social-buttons p
{
    margin: 4px 0 0;
    width: 242px;
}

.social-button,
.textfield-submit
{
    background: #3f51b5 url('img/ic_vk.svg') no-repeat 50% 50%;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
    border-bottom: 1px solid #303f9f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .4);
    display: inline-block;
    height: 27px;
    margin: 8px 2px 4px;
    width: 28px;
}

.social-button:hover,
.textfield-submit:hover
{
    background-color: #ff4081;
    border-color: #f50057;
}

.facebook
{
    background-image: url('img/ic_facebook.svg');
}

.twitter
{
    background-image: url('img/ic_twitter.svg');
}

.ok
{
    background-image: url('img/ic_ok.svg');
}

.instagram
{
    background-image: url('img/ic_instagram.svg');
}

.telegram
{
    background-image: url('img/ic_telegram.svg');
}

.exchange-rates
{
    padding: 0 16px;
    text-align: center;
}

.rates
{
    background-color: #eceff1;
    border-radius: 0 0 2px 2px;
    display: flex;
    font-size: .93em;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 4px 8px;
    width: 72px;
}

.rates-first
{
    background-color: #cfd8dc;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin-top: 8px;
}

.rates-name
{
    font-weight: 700;
    text-transform: uppercase;
}

.search-email
{
    padding-left: 16px;
}

.search,
.email-login
{
    display: flex;
    padding: 4px 0;
}

.search .textfield,
.email-login .textfield
{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.email-login .textfield:not(:first-child)
{
    margin-left: 8px;
}

.textfield
{
    margin-bottom: 1px;
    width: 100px;
}

.textfield:focus
{
    margin-bottom: 0;
}

.textfield-submit
{
    background-image: url('img/ic_arrow_right.svg');
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-size: 20px 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 29px;
    margin: 0 2px 0;
    width: 30px;
    font-size: 0;
}

.textfield-label
{
    display: block;
    color: #616161;
    font-size: .79em;
}

main
{
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 24px 16px 16px;
}

.global-column
{
    box-sizing: border-box;
    padding-right: 24px;
    width: 40%;
}

.right-bar
{
    width: 20%;
}

.card-background
{
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
    margin-bottom: 24px;
}

.card-primary-color
{
    background-color: #3f51b5;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
    color: #c5cae9;
}

.large-header
{
    font-size: 1.71em;
    font-weight: 400;
    margin-right: 16px;
    margin-left: 16px;
}

.main-entry
{
    padding-bottom: 8px;
    position: relative;
}

.main-entry .entry-link
{
    color: #212121;
    text-decoration: none;
}

.main-entry .entry-img
{
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    display: block;
    height: auto;
    width: 100%;
}

.main-entry .title
{
    margin-top: 24px;
    margin-bottom: 0;
}

.main-entry .entry-link:hover .title
{
    text-decoration: underline;
}

.main-entry .subtitle
{
    color: #727272;
    margin: 8px 16px;
}

a.flat-button,
.material-button
{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #f50057;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    margin: 8px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a.flat-button:hover
{
    color: #3f51b5;
}

.flat-button:before
{
    -webkit-animation: ripple-fade-out-animation .25s;
    -moz-animation: ripple-fade-out-animation .25s;
    -o-animation: ripple-fade-out-animation .25s;
    animation: ripple-fade-out-animation .25s;
    content: ' ';
    background-color: rgba(63, 81, 181, .15);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 16px;
    margin: auto;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 16px;
}

.flat-button:hover:before
{
    -webkit-animation: ripple-animation .5s ease-in;
    -moz-animation: ripple-animation .5s ease-in;
    -o-animation: ripple-animation .5s ease-in;
    animation: ripple-animation .5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.card-primary-color a.flat-button,
.card-primary-color a
{
    color: #ff80ab;
}

.card-primary-color a.flat-button:hover,
.card-primary-color a:hover
{
    color: #fff;
}

.card-primary-color a.flat-button:before
{
    background-color: rgba(255, 255, 255, .15);
}

.flat-button + .flat-button
{
    margin-left: 0;
}

.material-button
{
    background-color: #3f51b5;
    border: none;
    border-bottom: 1px solid #303f9f;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .5);
    color: #fff;
    margin: 0;
    padding: 8px 12px;
}

.material-button:hover
{
    background-color: #303f9f;
    border-bottom-color: #283593;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
}

.news-section .title-container
{
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.card-primary-color .title-container,
.card-primary-color .large-header
{
    color: #fff;
}

.news-section .title-container .large-header
{
    margin-top: 16px;
    margin-bottom: 16px;
}

.news-section .title-container .flat-button
{
    margin-top: 16px;
}

.card-entry
{
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    padding: 16px;
}

.person-entry
{
    padding: 0 16px 0 0;
}

.card-entry.narrow-entry
{
    padding-left: 12px;
    padding-right: 12px;
}

.news-section .card-entry:last-child
{
    border-bottom: none;
}

.card-entry .entry-image
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 48px;
    margin-right: 24px;
    width: 48px;
}

.person-entry .entry-image
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 95px;
    margin-right: 16px;
    width: 64px;
}

.person-entry:last-child .entry-image
{
    -webkit-border-radius: 0 0 0 2px;
    -moz-border-radius: 0 0 0 2px;
    border-radius: 0 0 0 2px;
}

.card-entry.narrow-entry .entry-image
{
    height: 40px;
    margin-right: 12px;
    width: 40px;
}

.card-entry .entry-image-medium
{
    height: 64px;
    margin-right: 16px;
    width: 64px;
}

.no-border-radius
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.card-entry .title
{
    font-size: 1.07em;
    margin: 0;
}

.card-entry.narrow-entry .title
{
    font-size: 1em;
}

.person-entry .title
{
    margin: 0 0 8px;
}

.card-entry .title a
{
    color: #212121;
}

.card-entry .description a
{
    color: #3f51b5;
}

.card-entry .title a,
.card-entry .description a
{
    text-decoration: none;
}

.card-entry .title a:hover,
.card-entry .description a:hover
{
    text-decoration: underline;
}

.card-entry .description
{
    color: #616161;
    margin: 4px 0 0;
}

.card-entry.narrow-entry .description
{
    font-size: .93em;
}

.person-entry .description
{
    margin: 8px 0;
}

.news-section .horizontal-items
{
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 16px 16px;
}

a.acquintance-item
{
    box-sizing: border-box;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
    width: 16.6%;
}

.acquintance-image
{
    border: 4px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}

.acquintance-name,
.acquintance-age
{
    display: block;
}

.acquintance-name
{
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.acquintance-item:hover .acquintance-name
{
    text-decoration: underline;
}

.acquintance-age
{
    font-size: .93em;
}

.acquintance-item:nth-child(even) .acquintance-age
{
    color: #c5cae9;
}

.acquintance-item:hover .acquintance-age
{
    color: #fff;
}

.news-section .category-item
{
    background-position: 0 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #212121;
    font-weight: 700;
    padding: 8px 0 8px 32px;
    text-decoration: none;
    width: 33%;
}

.icon-furniture
{
    background-image: url('img/ic_furniture.svg');
}

.icon-water-pump
{
    background-image: url('img/ic_water_pump.svg');
}

.icon-gallery
{
    background-image: url('img/ic_gallery.svg');
}

.icon-window
{
    background-image: url('img/ic_window.svg');
}

.icon-door
{
    background-image: url('img/ic_door.svg');
}

.icon-decoration
{
    background-image: url('img/ic_decoration.svg');
}

.icon-duck
{
    background-image: url('img/ic_duck.svg');
}

.icon-building
{
    background-image: url('img/ic_building.svg');
}

.news-section .category-item:hover
{
    text-decoration: underline;
}

.news-section .block-content
{
    padding: 0 12px 16px;
}

.news-section .block-content .first-paragraph
{
    margin-top: 0;
}

.two-column-container
{
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.two-column-container .column
{
    box-sizing: border-box;
    width: 50%;
}

.two-column-container .column:first-child
{
    margin-right: 8px;
}

.two-column-container .column:last-child
{
    margin-left: 8px;
}

.photo-gallery-full
{
    position: relative;
}

.main-photo
{
    display: none;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.gallery-full-image
{
    display: block;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.photo-title-container
{
    background-color: rgba(0, 0, 0, .5);
    bottom: -32px;
    opacity: 0;
    position: absolute;
    transition:.2s ease-in-out;
    width: 100%;
}

.main-photo:hover .photo-title-container
{
    bottom: 0;
    opacity: 1;
}

.photo-title
{
    color: #fff;
    font-size: 1.43em;
    font-weight: 400;
    margin: 24px 16px 4px;
}

.photo-date
{
    color: rgba(255, 255, 255, .65);
    font-size: .93em;
    margin: 0 16px 24px;
}

input[name='gallery-controls'],
input[name='gallery-preview-controls']
{
    display: none;
}

.controls-next,
.controls-previous
{
    background: url('img/ic_chevron_left.svg') no-repeat 50% 50%;
    -webkit-background-size: 48px 48px;
    -moz-background-size: 48px 48px;
    -o-background-size: 48px 48px;
    background-size: 48px 48px;
    display: none;
    height: 48px;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 48px;
}

.controls-next
{
    background-image: url('img/ic_chevron_right.svg');
    right: 0;
}

.small-controls
{
    -webkit-background-size: 36px 36px;
    -moz-background-size: 36px 36px;
    -o-background-size: 36px 36px;
    background-size: 36px 36px;
    height: 36px;
    top: 50px;
    bottom: auto;
    margin: 0;
    width: 24px;
}

.photo-gallery-previews
{
    position: relative;
}

.photo-gallery-preview
{
    display: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 24px 0;
}

.preview-item
{
    width: 32%;
}

.preview-image
{
    height: 88px;
    opacity: .6;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    width: 100%;
}

.preview-item:hover .preview-image
{
    opacity: 1;
}

.preview-title,
.preview-date
{
    display: block;
    padding-left: 8px;
}

.preview-title
{
    font-size: .93em;
    font-weight: 700;
    line-height: 1.29em;
    margin: 4px 0;
}

.preview-date
{
    color: #616161;
    font-size: .86em;
}

.gallery-controls-1:checked ~ .next-to-second,
.gallery-controls-2:checked ~ .back-to-first,
.gallery-controls-2:checked ~ .next-to-third,
.gallery-controls-3:checked ~ .back-to-second,
.gallery-controls-3:checked ~ .next-to-fourth,
.gallery-controls-4:checked ~ .back-to-third,
.gallery-controls-4:checked ~ .next-to-fifth,
.gallery-controls-5:checked ~ .back-to-fourth,
.gallery-preview-controls-1:checked ~ .next-to-second-previews,
.gallery-preview-controls-2:checked ~ .back-to-first-previews
{
    display: inline-block;
}

.gallery-controls-1:checked ~ .gallery-photo-1,
.gallery-controls-2:checked ~ .gallery-photo-2,
.gallery-controls-3:checked ~ .gallery-photo-3,
.gallery-controls-4:checked ~ .gallery-photo-4,
.gallery-controls-5:checked ~ .gallery-photo-5
{
    display: block;
    -webkit-animation: show-gallery-full-image .4s;
    -moz-animation: show-gallery-full-image .4s;
    -o-animation: show-gallery-full-image .4s;
    animation: show-gallery-full-image .4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.gallery-preview-controls-1:checked ~ .preview-container-1,
.gallery-preview-controls-2:checked ~ .preview-container-2
{
    display: flex;
    -webkit-animation: show-gallery-full-image .4s;
    -moz-animation: show-gallery-full-image .4s;
    -o-animation: show-gallery-full-image .4s;
    animation: show-gallery-full-image .4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

footer
{
    background-color: #fff;
    border-top: 3px solid #3f51b5;
    display: flex;
    padding: 36px 24px;
}

footer a,
footer a:link,
footer a:visited
{
    color: #303f9f;
}

.footer-column
{
    padding-right: 36px;
    width: 50%;
}

.footer-column:last-child
{
    padding-right: 0;
}

.footer-list
{
    display: flex;
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
}

.footer-list li
{
    margin-right: 16px;
}

.footer-list li a
{
    color: #212121;
    font-weight: 700;
}

.footer-info
{
    margin: 0;
}

@keyframes ripple-animation
{
    from
    {
        opacity: .35;
        -webkit-transform: scale(.25);
        -moz-transform: scale(.25);
        -ms-transform: scale(.25);
        -o-transform: scale(.25);
        transform: scale(.25);
    }
    to
    {
        opacity: 1;
        -webkit-transform: scale(15);
        -moz-transform: scale(15);
        -ms-transform: scale(15);
        -o-transform: scale(15);
        transform: scale(15);
    }
}

@keyframes ripple-fade-out-animation
{
    from
    {
        opacity: 1;
        -webkit-transform: scale(15);
        -moz-transform: scale(15);
        -ms-transform: scale(15);
        -o-transform: scale(15);
        transform: scale(15);
    }
    to
    {
        -webkit-transform: scale(15);
        -moz-transform: scale(15);
        -ms-transform: scale(15);
        -o-transform: scale(15);
        transform: scale(15);
    }
}

@keyframes show-gallery-full-image
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
