body
{
    background-color: #e6e6e6;
    min-width: 1400px;
    margin: 0;
}

main
{
    display: grid;
    width: 100%;
    grid-template-columns: [start] 12px [left-start] 2fr [
        left-end] 12px [center-start] 1fr [line] 1fr [
            center-end] 12px [right-start] 1fr [right-end] 12px [end];
    grid-template-rows: [up] auto [menu] auto [
        topics] auto [header] auto [banner] auto [line] 10px [
            main] auto  [line-1] auto [line-2] auto [line-3] auto [
                gallery] auto [footer] auto [links] auto [bottom];
      max-width: 1750px;
      left: 0;
      right: 0;
      top: -5px;
      bottom: 05px;
      margin: auto;
      background-color: #fff;
}

a:not([class]):visited
{
    color: blue;
}

a.news
{
    font: bold 16px arial;
    color: black;
}

a.additionally
{
    padding: 5px;
    color: gray;
    font-size: 13px;
}

a.tourism,
a.home
{
    font-weight: 800;
}

.banner-1
{
    grid-column: start;
    grid-column-end: end;
    grid-row-start: up;
    grid-row-end: menu;
}

.main-menu
{
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: menu;
    grid-row-end: topics;
    color: #fff;
    background-color: #000;
    font: bold 15px arial;
    padding: 5px;
}

.menu-topics
{
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: topics;
    grid-row-end: header;
    display: flex;
    justify-content: start;
    background: rgb(255, 81, 0);
}

.header
{
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: header;
    grid-row-end: banner;
}

.banner-2
{
    grid-column-start: left-start;
    grid-column-end: right-end;
    grid-row-start: banner;
    grid-row-end: line;
}

.left
{
    grid-column-start: left-start;
    grid-column-end: left-end;
    grid-row-start: main;
    grid-row-end: gallery;
}

.center-up
{
    grid-column-start: center-start;
    grid-column-end: center-end;
    grid-row-start: main;
    grid-row-end: line-1;
}

.realty
{
    grid-column-start: center-start;
    grid-column-end: line;
    grid-row-start: line-1;
    grid-row-end: line-2;
    margin-right: 6px;
}

.cars
{
    grid-column-start: line;
    grid-column-end: center-end;
    grid-row-start: line-1;
    grid-row-end: line-2;
    margin-left: 6px;
}

.jobs
{
    grid-column-start: center-start;
    grid-column-end: line;
    grid-row-start: line-2;
    grid-row-end: line-3;
    margin-right: 6px;
}

.ads
{
    grid-column-start: line;
    grid-column-end: center-end;
    grid-row-start: line-2;
    grid-row-end: line-3;
    margin-left: 6px;
}

.right
{
    grid-column-start: right-start;
    grid-column-end: right-end;
    grid-row-start: main;
    grid-row-end: footer;
}

.center-bottom
{
    grid-column-start: center-start;
    grid-column-end: center-end;
    grid-row-start: line-3;
    grid-row-end: footer;
}

.photo-day
{
    grid-column-start: left-start;
    grid-column-end: left-end;
    grid-row-start: gallery;
    grid-row-end: footer;
}

.video-day
{
    grid-column-start: center-start;
    grid-column-end: center-end;
    grid-row-start: gallery;
    grid-row-end: footer;
}

.cell-1
{
    grid-column-start: start;
    grid-column-end: center-start;
    grid-row-start: footer;
    grid-row-end: links;
    padding: 20px 40px 20px 20px;
}

.cell-2
{
    grid-column-start: center-start;
    grid-column-end: right-start;
    grid-row-start: footer;
    grid-row-end: links;
    padding: 20px 40px 20px 120px;
}

.cell-3
{
    grid-column-start: right-start;
    grid-column-end: end;
    grid-row-start: footer;
    grid-row-end: links;
    padding: 20px 40px 20px 20px;
}

/*
.footer-up
{
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: footer;
    grid-row-end: links;
}
*/

.main-menu,
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header
{
    justify-content: space-between;
}

.header div
{
    text-align: center;
}

.head
{
    display: flex;
    border-top: 2px solid;
    justify-content: space-between;
    background-color: #e6e6e6;
    width: 100%;
    margin-bottom: 10px;
}

.streak
{
    width: 7px;
    background-color: rgb(255, 81, 0);
}

.title
{
    font: bold 12px arial;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 800;
}

.between
{
    flex: 1;
}

.menu
{
    color: #fff;
    background-color: #000;
    font: bold 15px arial;
    padding: 5px;
    text-decoration: none;
    transition: color .2s;
}

.menu:hover
{
    color: rgb(255, 81, 0);
}

.topic
{
    padding: 5px 20px;
    background-color: #42aaff;
    color: #fff;
    font: bold 15px arial;
    text-decoration: none;
    transition: color .2s;
}

.topic:hover
{
    color: #000;
}

.menu-topics .topic:nth-child(2n)
{
    background-color: rgb(255, 81, 0);
}

.preview-photo
{
    height: 60px;
    width: 80px;
    margin: 10px;
}

.news,
.job,
.ad,
.inline,
.photo-realty
{
    display: flex;
}

.home
{
    display: inline-block;
}

.photo-realty
{
    background: #e6e6e6;
    margin: 5px;
}

.dating,
.directory
{
    display: flex;
    justify-content: space-around;
}

.section
{
    display: flex;
    flex-direction: column;
}

.center
{
    display: flex;
    flex-wrap: wrap;
}

.block
{
    width: 100%;
}

.main-news
{
    position: relative;
}

.main-news img
{
    width: 100%;
}

.content
{
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 0 5px 5px 20px;
    overflow: hidden;
    font-size: 20px;
}

.content:before
{
    width: 7px;
    height: 100%;
    position: absolute;
    background: rgb(255, 81, 0);
    content: ' ';
    left: 0;
}

.content div:first-child
{
    font: bold 25px arial;
    margin: 5px 0 0;
}

.class
{
    color: rgb(255, 81, 0);
}

.bold
{
    font-weight: 700;
}

.icon
{
    width: 30px;
    height: 30px;
}

.dating
{
    display: flex;
    margin: 10px;
}

.name
{
    font: bold 15px arial;
    color: inherit;
}

.men,
.men:visited
{
    color: #42aaff;
}

.women,
.women:visited
{
    color: rgb(255, 86, 0);
}

.age
{
    color: gray;
}

.dating img
{
    width: 100px;
    height: 100px;
    border: 1px solid;
}

.cell-1,
.cell-2,
.cell-3
{
    background: #e6e6e6;
}

.traffic-jams
{
    border-radius: 50%;
    padding: 3px 5px;
    background: yellow;
}

.advertise
{
    width: 18%;
    height: 100px;
    background-color: yellow;
}

.project
{
    width: 100%;
}
