body
{
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

a
{
    color: #196199;
}

.icon
{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(images/icons.png) no-repeat;
    cursor: pointer;
}

.vk-icon,
.facebook-icon,
.twitter-icon,
.ok-icon,
.yandex-icon,
.inst-icon,
.telegramm-icon
{
    width: 23px;
    height: 23px;
    display: inline-block;
}

.facebook-icon .icon
{
    background-position: -29px 0;
}

.twitter-icon .icon
{
    background-position: -57px 0;
}

.ok-icon .icon
{
    background-position: -84px 0;
}

.yandex-icon .icon
{
    background-position: -112px 0;
}

.inst-icon .icon
{
    background-position: -140px 0;
}

.telegramm-icon .icon
{
    background-position: -168px 0;
}

.icons
{
    display: inline-block;
}

.bottom-header
{
    display: flex;
    /* stylelint-disable */
    display: grid;
    /* stylelint-enable */
    grid-area: bh;
    grid-template-columns: 110px 110px 100px 110px 100px 100px 
        110px 110px 110px 100px 90px 90px 90px;
    grid-template-rows: 80px;
    grid-template-areas: 'lg lg date wth wth trf sct sct crs crs frm frm frm';

}

.header
{
    grid-area: header;
    display: grid;
    grid-template-columns: 110px 110px 100px 110px 100px 100px 
        110px 110px 110px 100px 90px 90px 90px;
    grid-template-rows: 20px 20px 80px;
    grid-template-areas: 'ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl'
        'thm thm thm thm thm thm thm thm thm thm thm thm thm'
        'bh bh bh bh bh bh bh bh bh bh bh bh bh';
}

.central-content
{
    flex: 1 40%;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 10px;
}

.container
{
    display: grid;
    width: 1330px;
    grid-template-columns: 530px 530px 270px;
    grid-template-rows: 130px 800px 150px;
    grid-template-areas: 'header header header'
        'all-content all-content all-content'
        'footer footer footer';
}

.main-footer
{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-family: arial;
    background-color: #ccc;
    grid-area: footer;
}

.refs a
{
    padding-right: 10px;
}

.refs
{
    font-weight: bold;
    margin: 5px;
}

.addr p
{
    margin: 5px;
}

.e2
{
    font-size: 15px;
    margin-left: 5px;
}

.rate
{
    margin-left: 5px;
}

.rating
{
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.rating,
.info
{
    margin: 10px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.category
{
    font-weight: bold;
}

.orange-ref
{
    font: bold 12px arial;
    color: #ff5200;
}

.right-content
{
    flex: 1 20%;
    grid-area: right-content;
}

.logo,
.date,
.weather,
.traffic-jams,
.society,
.course,
.form
{
    margin-top: 8px;
}

.logo
{
    width: 210px;
    flex: 1 10%;
    grid-area: lg;
}

.date
{
    flex: 1 4%;
}

.weather
{
    flex: 1 10%;
}

.traffic-jams
{
    flex: 1 4%;
}

.society
{
    flex: 1 15%;
}

.course
{
    flex: 1 10%;
}

.form
{
    flex: 1 20%;
}

.work
{
    margin-right: 10px;
}

.price
{
    font-weight: bold;
}

.card p
{
    margin: 0;
    padding-right: 10px;
}

.divide
{
    padding-bottom: 10px;
    border-bottom: 1px solid #ff4500;
}

.realty
{
    margin-right: 10px;
    -ms-flex: 1 45%;
    flex: 1 45%;
}

.two-columns
{
    display: flex;
}

.work,
.caption,
.car-sale
{
    -ms-flex: 1 45%;
    flex: 1 45%;
}

.caption-news
{
    font-size: 12px;
}

.picture-story
{
    grid-area: picture-story;
}

.articles
{
    grid-area: articles;
}

.details
{
    grid-area: details;
}

.card
{
    margin: 8px;
    display: flex;
}

.news-img
{
    padding: 5px;
    max-width: 70px;
    -ms-flex: 1 10%;
    flex: 1 10%;
}

.caption-img
{
    padding: 5px;
    max-width: 50px;
    -ms-flex: 1 10%;
    flex: 1 10%;
}

.about-news
{
    font-family: arial;
    font-weight: bold;
    -ms-flex: 1 90%;
    flex: 1 90%;
}

.description-news
{
    margin-top: 5px;
}

.description-news p
{
    margin: 0;
    font-size: 12px;
}

.about-news
{
    color: #000;
}

.description-news p .about-news:hover
{
    color: #ff5200;
}

.orange-ref:hover
{
    color: #000;
}

.tv-ref
{
    font-size: 12px;
    font-family: arial;
}

.band
{
    border-left: 10px solid #ff4500;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ccc;
    border-top: 1px solid #000;
}

.name
{
    cursor: pointer;
    font: bold 11px arial;
    padding-top: 3px;
    margin: 0;
}

.all-content
{
    display: flex;
    /* stylelint-disable */
    display: grid;
    /* stylelint-enable */
    margin-top: 10px;
    grid-template-columns: 530px 530px 270px;
    grid-template-areas: 'left-content central-content right-content';
}

.left-content
{
    flex: 1 40%;
    grid-area: left-content;
    padding-right: 10px;
}

.band p,
.band label .name
{
    margin: 0;
}

.description
{
    font-size: 20px;
}

.shadow
{
    opacity: .6;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 120px;
}

.name-news
{
    border-left: 10px solid #ff4500;
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 95%;
    height: auto;
}

.form
{
    grid-area: frm;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.enter
{
    margin-left: 2px;
    margin-right: 2px;
}

.valute
{
    border-top: 1px solid;
}

.login,
.search
{
    margin-top: 5px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}

.mail-input1
{
    width: 81px;
}

.mail-input2
{
    width: 82px;
}

.search-input
{
    width: 172px;
}

.go
{
    cursor: pointer;
}

.name-valute
{
    font: bold 11px arial;
    color: #00f;
}

.course
{
    grid-area: crs;
    display: flex;
    font-size: 10px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #ccc;
}

.main-img
{
    width: 100%;
}

.society
{
    border-right: 1px solid #ccc;
    grid-area: sct;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tv p
{
    margin-left: 10px;
}

.chanel
{
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px;
    font-size: 12px;
    display: flex;
}

.traffic-jams
{
    border-right: 1px solid #ccc;
    grid-area: trf;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.weather
{
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    grid-area: wth;
    border-right: 1px solid #ccc;
}

.count-points
{
    color: #fff;
    text-align: center;
    font-size: 19px;
    width: 25px;
    height: 25px;
    background-image: url(images/traffic.png);
    background-repeat: no-repeat;
}

.ref,
.temperature,
.society p,
.weather-day p,
.traffic-jams p,
.course div p
{
    margin: 0;
}

.points
{
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
}

.temperature
{
    font-weight: bold;
}

.ref:hover
{
    color: #ff5200;
}

.ref
{
    font-size: 12px;
    color: #000;
}

.logo
{
    padding-right: 10px;
}

.edu
{
    font-size: 12px;
    margin: 10px;
}

.orange-button
{
    font-size: 10px;
    background: #ff5200;
    cursor: pointer;
    color: #fff;
    font-family: Tahoma, verdana, sans-serif, arial;
}

.select-theme
{
    width: 120px;
}

.select-org
{
    width: 140px;
}

.choose
{
    margin: 0;
}

.chanel img
{
    margin-right: 5px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.tv
{
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
}

.date
{
    padding: 5px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font: 14px arial;
    padding-top: 10px;
    text-align: center;
    grid-area: date;
}

.time
{
    flex: 1 15%;
    font: bold 15px arial;
}

.date p
{
    margin: 0;
}

.title
{
    padding-top: 3px;
    grid-area: ttl;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font: bold 12px arial;
    background-color: #444;
}

.themes
{
    grid-area: thm;
    display: flex;
    font: bold 12px arial;
}

.themes a:nth-child(2n)
{
    background-color: #ff4500;
}

.themes a:last-child
{
    padding-left: 10px;
    text-align: left;
    width: 100%;
}

.themes a
{
    padding-top: 3px;
    min-width: 170px;
    text-align: center;
    background-color: #009acd;
}

.themes a:hover
{
    color: #000;
}

.title a:hover
{
    color: #ff7f00;
}

.title a,
.themes a
{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.name:before
{
    content: '↓';
}

.invisible-input
{
    display: none;
}

.main-news:hover
{
    cursor: pointer;
    border: 1px solid #ff4500;
}

.main-news
{
    position: relative;
    color: #fff;
    font-family: arial;
    border: 1px solid #000;
}

input[id='news']:checked + .band .name:before,
input[id='about']:checked + .band .name:before,
input[id='photo']:checked + .band .name:before,
input[id='about-realty']:checked + .band .name:before,
input[id='realty']:checked + .band .name:before,
input[id='car']:checked + .band .name:before,
input[id='caption']:checked + .band .name:before,
input[id='work']:checked + .band .name:before,
input[id='spec']:checked + .band .name:before,
input[id='tv']:checked + .band .name:before,
input[id='edu']:checked + .band .name:before,
input[id='buy']:checked + .band .name:before
{
    content: '→';
}

input[id='news']:checked ~ .card,
input[id='about']:checked ~ .card,
input[id='photo']:checked ~ .card,
input[id='about-realty']:checked ~ .card,
input[id='realty']:checked ~ .card,
input[id='realty']:checked ~ .house,
input[id='car']:checked ~ .card,
input[id='car']:checked ~ .car,
input[id='work']:checked ~ .card,
input[id='work']:checked ~ .vac,
input[id='caption']:checked ~ .card,
input[id='caption']:checked ~ .capt,
input[id='spec']:checked ~ .spec,
input[id='tv']:checked ~ .tv,
input[id='edu']:checked ~ .edu,
input[id='buy']:checked ~ .buy
{
    display: none;
}

@media (max-width: 768px) 
{
    .container 
    {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .logo,
    .spec,
    .edu
    {
        text-align: center;
    }

    .logo
    {
        width: 100%;
        padding: 0;
        align-self: center;
    }
    
    .container .in-header,
    .container .date
    {
        border: 0;
    }

    .chanel
    {
        -ms-flex-pack: normal;
        justify-content: normal;
    }

    .buy
    {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .form
    {
        margin-bottom: 10px;
    }

    .left-content 
    {
        display: block;
    }

    .bottom-header
    {
        display: block;
    }

    .header
    {
        display: block;
    }

    .themes a:last-child
    {
        text-align: center;
        padding-left: 0;
    }

    .all-content
    {
        display: block;
    }

    .title,
    .themes
    {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
