body
{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    font: 12px arial;
}

a
{
    color: #196199;
}

.icon
{
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url(images/icons.png) no-repeat;
    cursor: pointer;
}

.icon:nth-child(2)
{
    background-position: -29px 0;
}

.icon:nth-child(3)
{
    background-position: -57px 0;
}

.icon:nth-child(4)
{
    background-position: -84px 0;
}

.icon:nth-child(5)
{
    background-position: -112px 0;
}

.icon:nth-child(6)
{
    background-position: -140px 0;
}

.icon:nth-child(7)
{
    background-position: -168px 0;
}

.icons:nth-child(8)
{
    display: inline-block;
}

.bottom-header
{
    margin-top: 8px;
    font-family: Times;
    font-size: 1.3em;
    display: flex;
    /* stylelint-disable */
    display: grid;
    /* stylelint-enable */
    grid-area: bh;
    grid-template-columns: 110px 110px 100px 110px 100px 100px 
        110px 110px 110px 100px 90px 90px 90px;
    grid-template-rows: 80px;
    grid-template-areas: 'lg lg date wth wth trf sct sct crs crs frm frm frm';

}

.header
{
    width: 1330px;
    padding-bottom: 10px;
    grid-area: header;
    display: grid;
    grid-template-columns: 110px 110px 100px 110px 100px 100px 
        110px 110px 110px 100px 90px 90px 90px;
    grid-template-rows: 20px 20px 80px;
    grid-template-areas: 'ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl ttl'
        'thm thm thm thm thm thm thm thm thm thm thm thm thm'
        'bh bh bh bh bh bh bh bh bh bh bh bh bh';
}

.central-content
{
    flex: 1 40%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.container
{
    width: 1330px;
    display: flex;
    /* stylelint-disable */
    display: grid;
    /* stylelint-enable */
    margin-top: 10px;
    grid-template-columns: 530px 530px 270px;
    grid-template-areas: 'left-content central-content right-content';
}

.main-footer
{
    width: 1330px;
    align-self: center;
    margin-top: 10px;
    display: flex;
    background-color: #ccc;
    grid-area: footer;
}

.refs a
{
    padding-right: 10px;
}

.refs
{
    font-weight: bold;
    margin: 5px;
}

.addr p
{
    margin: 5px;
}

.e2
{
    font-size: 1.3em;
    margin-left: 5px;
}

.rate
{
    margin-left: 5px;
}

.rating
{
    align-self: flex-start;
}

.rating,
.info
{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.category
{
    font-weight: bold;
}

.orange-ref
{
    font: bold 12px arial;
    color: #ff5200;
}

.right-content
{
    flex: 1 20%;
    grid-area: right-content;
}

.logo
{
    width: 210px;
    flex: 1 10%;
    grid-area: lg;
    padding-right: 10px;
}

.work
{
    margin-right: 10px;
}

.price
{
    font-weight: bold;
}

.card p
{
    margin: 0;
    padding-right: 10px;
}

.divide
{
    padding-bottom: 10px;
    border-bottom: 1px solid #ff4500;
}

.realty
{
    margin-right: 10px;
    flex: 1 45%;
}

.two-columns
{
    display: flex;
}

.work,
.caption,
.car-sale
{
    flex: 1 45%;
}

.picture-story
{
    grid-area: picture-story;
}

.articles
{
    grid-area: articles;
}

.details
{
    grid-area: details;
}

.card
{
    margin: 8px;
    display: flex;
}

.news-img
{
    align-self: flex-start;
    padding: 5px;
    max-width: 70px;
    min-width: 70px;
    height: 100%;
    flex: 1 20%;
}

.caption-img
{
    align-self: flex-start;
    max-width: 50px;
    min-width: 50px;
    padding: 5px;
    flex: 1 10%;
}

.about-news
{
    font-weight: bold;
    flex: 1 90%;
}

.description-news
{
    margin-top: 5px;
}

.description-news p
{
    margin: 0;
}

.about-news
{
    color: #000;
}

.description-news p .about-news:hover
{
    color: #ff5200;
}

.orange-ref:hover
{
    color: #000;
}

.band
{
    border-left: 10px solid #ff4500;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    border-top: 1px solid #000;
}

.name
{
    cursor: pointer;
    font: bold .9em arial;
    padding-top: 3px;
    margin: 0;
}

.left-content
{
    flex: 1 40%;
    grid-area: left-content;
    padding-right: 10px;
}

.band p,
.band label .name
{
    margin: 0;
}

.description
{
    white-space: normal;
    font-size: 1.7em;
}

.shadow
{
    opacity: .6;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    width: calc(100% - 25px);
    height: 100%;
}

.name-news
{
    border-left: 10px solid #ff4500;
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: auto;
}

.form
{
    grid-area: frm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 20%;
}

.enter
{
    margin: 0 2px;
}

.login,
.search
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: .8em;
}

.mail-input1
{
    width: 81px;
}

.mail-input2
{
    width: 82px;
}

.search-input
{
    width: 172px;
}

.go
{
    cursor: pointer;
}

.name-valute
{
    font: bold 1em arial;
    color: #00f;
}

.course-price,
.course-today
{
    align-self: baseline;
}

.course
{
    flex: 1 10%;
    grid-area: crs;
    display: flex;
    padding-top: 10px;
    font-size: .7em;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #ccc;
}

.main-img
{
    width: 100%;
}

.society
{
    flex: 1 15%;
    border-right: 1px solid #ccc;
    grid-area: sct;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.tv p
{
    margin-left: 10px;
}

.chanel
{
    justify-content: space-between;
    margin: 10px;
    display: flex;
}

.traffic-jams
{
    flex: 1 4%;
    border-right: 1px solid #ccc;
    grid-area: trf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.weather
{
    flex: 1 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: wth;
    border-right: 1px solid #ccc;
}

.count-points
{
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    width: 25px;
    height: 25px;
    background-image: url(images/traffic.png);
    background-repeat: no-repeat;
}

.ref,
.temperature,
.society p,
.weather-day p,
.traffic-jams p,
.course div p
{
    margin: 0;
}

.points
{
    font: bold .9em arial;
}

.temperature
{
    font-weight: bold;
}

.ref:hover
{
    color: #ff5200;
}

.ref
{
    font-family: Times;
    font-size: 1em;
    color: #000;
}

.edu
{
    margin: 10px;
}

.orange-button
{
    font-size: .9em;
    background: #ff5200;
    cursor: pointer;
    color: #fff;
    font-family: Tahoma;
}

.select-theme
{
    width: 120px;
}

.select-org
{
    width: 140px;
}

.choose
{
    margin: 0;
}

.chanel img
{
    margin-right: 5px;
    align-self: flex-start;
}

.tv
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.date
{
    flex: 1 4%;
    padding: 10px 5px 5px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font: .9em arial;
    text-align: center;
    grid-area: date;
}

.time
{
    flex: 1 15%;
    font-weight: bold;
}

.date p
{
    margin: 0;
}

.projects
{
    padding-top: 3px;
    grid-area: ttl;
    display: flex;
    justify-content: space-around;
    font: bold 1em arial;
    background-color: #444;
}

.themes
{
    grid-area: thm;
    display: flex;
    font: bold 1em arial;
}

.themes a:nth-child(2n)
{
    background-color: #ff4500;
}

.themes a:last-child
{
    padding-left: 10px;
    text-align: left;
    width: 100%;
}

.themes a
{
    padding-top: 3px;
    min-width: 170px;
    text-align: center;
    background-color: #009acd;
}

.themes a:hover
{
    color: #000;
}

.projects a:hover
{
    color: #ff7f00;
}

.projects a,
.themes a
{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.name:before
{
    content: '↓';
}

.invisible-input
{
    display: none;
}

.main-news:hover
{
    cursor: pointer;
    border: 1px solid #ff4500;
}

.main-news
{
    width: 100%;
    position: relative;
    color: #fff;
    border: 1px solid #000;
}

input[id='news']:checked + .band .name:before,
input[id='about']:checked + .band .name:before,
input[id='photo']:checked + .band .name:before,
input[id='about-realty']:checked + .band .name:before,
input[id='realty']:checked + .band .name:before,
input[id='car']:checked + .band .name:before,
input[id='caption']:checked + .band .name:before,
input[id='work']:checked + .band .name:before,
input[id='spec']:checked + .band .name:before,
input[id='tv']:checked + .band .name:before,
input[id='edu']:checked + .band .name:before,
input[id='buy']:checked + .band .name:before
{
    content: '→';
}

input[id='news']:checked ~ .card,
input[id='about']:checked ~ .card,
input[id='photo']:checked ~ .card,
input[id='about-realty']:checked ~ .card,
input[id='realty']:checked ~ .card,
input[id='realty']:checked ~ .house,
input[id='car']:checked ~ .card,
input[id='car']:checked ~ .car,
input[id='work']:checked ~ .card,
input[id='work']:checked ~ .vac,
input[id='caption']:checked ~ .card,
input[id='caption']:checked ~ .capt,
input[id='spec']:checked ~ .spec,
input[id='tv']:checked ~ .tv,
input[id='edu']:checked ~ .edu,
input[id='buy']:checked ~ .buy
{
    display: none;
}

@media (max-width: 768px) 
{
    .container 
    {
        display: flex;
        flex-direction: column;
    }

    .main-footer,
    .container,
    .header
    {
        width: 100%;
    }

    body
    {
        overflow-x: hidden;
        display: block;
        justify-content: normal;
        align-items: normal;
    }

    .logo,
    .spec,
    .edu
    {
        text-align: center;
    }

    .logo
    {
        width: 100%;
        padding: 0;
        align-self: center;
    }
    
    .container .in-header,
    .container .date
    {
        border: 0;
    }

    .chanel
    {
        justify-content: normal;
    }

    .buy
    {
        justify-content: center;
    }

    .form
    {
        margin-bottom: 10px;
    }

    .left-content 
    {
        display: block;
    }

    .bottom-header
    {
        display: block;
    }

    .header
    {
        width: 100%;
        display: block;
    }

    .themes a:last-child
    {
        text-align: center;
        padding-left: 0;
    }

    .all-content
    {
        display: block;
    }

    .projects,
    .themes
    {
        display: flex;
        flex-direction: column;
    }
}
