html,
body
{
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

body
{
    min-width: 1223px;
    max-width: 1400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

a,
table
{
    font-size: 10px;
    text-align: center;
}

table
{
    border-collapse: collapse;
}

table tr:nth-child(1)
{
    border-bottom: 1px solid #000;
}

.navigator ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    height: 20px;
    background-color: #263238;
    color: #fff;
    margin: 0;
    padding: 0;
}

.navigator li
{
    margin: 0;
    list-style: none;
    height: 100%;
    padding: 0 16px;
}

.navigator-color ul
{
    background-color: #ff5722;
    justify-content: flex-start;
}

.navigator-color li:nth-child(2n + 1)
{
    background-color: #2196f3;
}

.info-city
{
    height: 76px;
    padding: 5px 0;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.vertical-info,
.horizontal-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 8px;
}

.horizontal-info
{
    flex-direction: row;
}

.vertical-line
{
    width: 1px;
    margin: 0 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.small-text
{
    font-size: 11px;
}

.main-page
{
    display: flex;
    flex-direction: row;
}

.main-column
{
    width: 40%;
    padding: 8px;
}

.mimi-column
{
    width: 20%;
    padding: 8px;
}

.big-news
{
    background: url("imgs/big-pic.jpg") center / cover;
    width: 100%;
    height: 300px;
    margin-bottom: 24px;
    display: flex;
    align-items: flex-end;
}

.big-news-title
{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-left: 7px solid #ff5722;
    padding-left: 8px;
}

.box-header
{
    height: 15px;
    background-color: #e1e1e1;
    border-left: 7px solid #ff5722;
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    min-width: 245px;
}

.box-title
{
    font-weight: bold;
    font-family: Tahoma, sans-serif, arial;
    display: flex;
}

.box-news
{
    display: flex;
    padding: 8px;
}

.box-photo
{
    width: 70px;
    height: 50px;
    background-color: #2196f3;
    margin-right: 8px;
}

.box-content,
.box-content a
{
    font-size: 12px;
    max-width: 80%;
}

.horizontal-news
{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.box-link
{
    width: 100px;
}

.box-photo-square
{
    width: 80px;
    height: 80px;
    background-color: #2196f3;
}

.box-photo-bigger
{
    width: 120px;
    height: 80px;
    background-color: #2196f3;
}

.business-info
{
    text-align: left;
    display: block;
}

.box-baner
{
    height: 60px;
    width: 100%;
    background-color: #2196f3;
}

.day-news
{
    width: 80%;
    padding: 8px;
}

.box-photo-day
{
    width: 500px;
    height: 400px;
    background-color: #263238;
    margin-top: 8px;
}

.horizontal-line
{
    width: 100%;
    margin: 0 8px;
    height: 1px;
    background-color: rgba(0, 0, 0, .3);
}

footer
{
    height: 305px;
    width: 100%;
    border-top: 2px solid #222;
    background-color: #ddd;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.footer-info
{
    width: 30%;
    margin: 8px;
}
